[isort]
profile = black
skip = migrations
known_django = django
known_third_party = rest_framework,celery,dotenv,pydantic,bs4,thefuzz
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
